body {
    font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    color: #7e7e7f;
    letter-spacing: .06em;
    height: auto;
}
/*p{*/
    /*font-family: 'Microsoft YaHei';*/
/*}*/
/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
    color: #1a1a1a;
}*/

.text-primary { color: #3f44c9 !important; }
.bj_first{
    background: url(../imgs/download_imgs/bj1.jpg);
    width: 100%;
    z-index: -10;
}
.xc{
    background: url(../imgs/download_imgs/bj.jpg) center no-repeat;

}
.xr{
    background: url(../imgs/download_imgs/shebei.png) center no-repeat;
    width: 100%;
    height: 300px;
    position: absolute;
}
.bg-light { background-color: #ffffff !important; }
.bg-grey {height: 860px; width:1200px;} /*background: url(../imgs/download_imgs/bj.jpg) padding-top:66px; no-repeat;   position: relative;*/
.bg-primary { background-color: #3f44c9 !important; }
.down_div{
    width: 100%;
}
.down_div li{
    list-style: none;
}
.downbut{
    display:inline-block;
    position: absolute;
    width: 155px;
    height: 35px;
    color: #ffffff;
    padding: 6px 0 0 0;
    margin:0 0 0 20px;
}
.win{
    text-align: center;
    background: url(../imgs/download_imgs/win.png)   no-repeat;

}
.win:hover{
    color: #ffffff;
    background: url(../imgs/download_imgs/win.png)    no-repeat;
    background-position:0px -35px;

}
.ios{
    text-align: center;
    background: url(../imgs/download_imgs/ios.png)   no-repeat;
}
.ios:hover{
    color: #ffffff;
    background: url(../imgs/download_imgs/ios.png)   no-repeat;
    background-position:0px -35px;
}
.notclick{
    background: url(../imgs/download_imgs/notclick.png)   no-repeat;
    color: #ffffff;
}
.notclick:hover{
    color: #ffffff;

}
.text-right{
    padding-top: 28% ;
}
a { color: #3f44c9; }
a:hover {
    color: #3f44c9;
    text-decoration: none;
}
.container a{
    padding-left: 10px;
}
.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;
    min-width: 160px;
}

.btns {
    display: inline-block;
    /*cursor: pointer;*/
    text-align: center;
    /*white-space: nowrap;
    vertical-align: middle;*/
    width: 120px;
    height:42px;
    padding: 10px 0 0 0;
    border-radius: 6px;
    background: url(../imgs/images/link.png) #0175FF  no-repeat;
    background-position:12px 13px;
    color: #ffffff;
    padding-left: 0;
}
.btns:hover{
    background: url(../imgs/images/link.png) #0190ff  no-repeat;
    background-position:12px 13px;
    color: #ffffff;
}
.nav-item a{
    padding-left: 0;

}
.nav-item p:hover{
    color: #0175ff;
}

.btn_dl{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 266px;
    height: 63px;
    padding: 9px 0 0 0;
    background: #0175FF;
    border-radius: 31.5px;
    color: #ffffff;
}

.align-self-center a:hover{
    background: #0190ff;
    color: #ffffff;
}
/*
.align-self-center a:hover{
    background: url(../imgs/images/download_b2.png) no-repeat;
    color: #ffffff;
}*/
.btn-primary {
    background-color: #3f44c9;
    color: #ffffff !important;
    border: 1px solid #3f44c9;
}

.btn-primary:hover {
    background-color: #3f44c9;
    border: 1px solid #3f44c9;
}

.btn-secondary {
    background-color: #ffffff;
    color: #1a1a1a;
}

.btn-secondary:hover {
    background-color: #ffffff;
    color: #1a1a1a;
}

.badge-primary { background-color: #3f44c9 !important; }

section {
    /*padding: 100px 0;*/
}

.logo {
    min-width: 140px;
    max-width: 160px;
}
.cons{
    width: 100%;
    text-align: center;
}
.divider {

}

.navbar {
    min-height: 80px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

/* ==========================================================================
  Slider
   ========================================================================== */
#carousel-area {
    overflow: hidden;
    /*background: #2c3e50;*/
}
.carousel-slider{
    height: 600px;
}
.carousel-inner{
    width: 448px;
    height: 390px;
    /*background-size: 100%;*/

}
#carousel-area .carousel-item {
    width: 448px;
    height: 350px;
    /*background-size: 100%;*/
}

#carousel-area .carousel-item .carousel-caption {
    top: 5%;
    right: 10%;
    left: 12%;
    text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
}
.t-fa{

    float: left; padding: 0 0 0 120px;
}
.t-fas{
    padding: 50px 0;
}
.t-fax{
    padding: 0 0 0 10px;
    float: left;
}
.t-fax h4{
    margin: 6px 0 0 0;
}
.t-fax p{
    margin: 0 ;
}
#hero .row{
    width: auto;
    /*height: 350px;*/
    position: absolute;
    left: 50%;
    top: 674px;
    margin-left:-214px;
    /*padding: 265px 0 0 620px;*/
}
#carousel-area .carousel-item .carousel-caption h3 {
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
}

#carousel-area .carousel-item .carousel-caption h2 {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

#carousel-area .carousel-item .carousel-caption h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;

}

#carousel-area .carousel-control {
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#carousel-area:hover .carousel-control {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#carousel-area .carousel-control-next, #carousel-area .carousel-control-prev {
    opacity: 1;
}

#carousel-area .carousel-control-next i, #carousel-area .carousel-control-prev i {
    width: 48px;
    line-height: 48px;
    height: 48px;
    color: #fff;
    font-size: 24px;
    display: inline-block;
    background: #F97794;
    border-radius: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#carousel-area .carousel-control-next i:hover, #carousel-area .carousel-control-prev i:hover {
    opacity: 0.9;
}

#carousel-area .carousel-indicators li:hover,
#carousel-area .carousel-indicators li {
    width:8px;
    height:7px;
    border:1px solid rgba(255,255,255,1);
    border-radius:4px;
}
#carousel-area .carousel-indicators li.active {
    opacity: 1;
    width:29px;
    height:6px;
    background:rgba(237,245,255,1);
    border-radius:3px;
}

#carousel-area .carousel-indicators {
    bottom: 35px;
}
.version{
    width: 100%;
}
/*.ver_title{*/
    /*width: 1200px;*/
    /*margin: 0 auto;*/
    /*padding-top: 34px;*/
    /*background: url(../imgs/download_imgs/version_1.png) left no-repeat;*/
/*}*/
.ver{
    width: 1200px;
    margin: 0 auto;
    padding: 34px 0 0 0;
}
.ver li{
    list-style: none;

}
.ver_title{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: Bold;
    color: #414141;
    background: url(../imgs/download_imgs/version_1.png) left no-repeat;
}
.ver_li{
    display: inline-block;
    padding-top: 19px;
    margin-top: 13px;
    list-style: none;
    min-height: 114px;
    border-top: 1px solid #e1e1e1;
}
.content_t{
    padding-top: 1px;
    height: 20px;
    width: 1200px;
}
.title_left{
    width: 1100px;
    float: left;
    color:#555555;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.content_b{
    height: auto;
    width: 1200px;
    padding: 13px 0 0 0;
}
.var_btns{
    display: block;
    float: right;
    width: 83px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 0 0 0;
    margin-top: 5px;
    text-align: center;
    color: #ffffff;
    background: url(../imgs/download_imgs/unclick.png)   no-repeat;
}
.var_btns:hover{
    color: #ffffff;
}
.var_btn{
    display: block;
    float: right;
    width: 83px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 0 0 0;
    margin-top: 5px;
    text-align: center;
    color: #ffffff;
    background: url(../imgs/download_imgs/btns.png) #0175FF  no-repeat;
}
.var_btn:hover{

    background: url(../imgs/download_imgs/btns.png) #0190ff  no-repeat;
    background-position:30px 30px;
    color: #ffffff;
}
.bottom{
    /*border-bottom: 1px solid #e1e1e1;*/
    width: 1200px;
    height: 1px;
    background: url(../imgs/download_imgs/ver_bottom.png) left no-repeat;
}
.link li{
    float: left;
    list-style: none;
    width: 100px;
}
.link li p{
    font-size: 11px;
}
footer {
    /*border-top: 1px solid #dbdbdb;*/
    padding: 18px 0;
    background-color: #E3EAF8;
}

footer a {
    color: #7D8AA1;
    padding: 0 5px;
}
footer a:hover{
    color: #0175ff;
}

/* Media queries */

@media (max-width: 575.98px) {
    #hero img {
        /*margin-top: 30px;*/
    }
    footer {
        font-size: 16px;
        padding: 60px 20px 30px 20px;
    }
    footer ul {
        margin-top: 1rem;
    }
}

@media (max-width: 991.98px) {
    .card-body {
        padding: 2rem 1.25rem !important;
    }
}
